<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

  <meta charset="UTF-8">

  <title>TransitLax</title>

  <link rel="stylesheet" href="css/reset.css">

    <link rel="stylesheet" href="css/style_index.css" media="screen" type="text/css" />
    <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
  <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCu8WvdPeKB1BdZpZXy00NLVJSXVCjReu8",
    authDomain: "maps-7e403.firebaseapp.com",
    databaseURL: "https://maps-7e403.firebaseio.com",
    storageBucket: "maps-7e403.appspot.com",
    messagingSenderId: "377991669313"
  };
  firebase.initializeApp(config);
  </script> 

</head>

<body onload="initialFunc()">
  <script type="text/javascript">
  	
  	function initialFunc() {
  		const txtEmail = document.getElementById("txtEmail");
        const txtPassword = document.getElementById("txtPassword");
        const btnLogin = document.getElementById("btnLogin");
        const btnSignUp = document.getElementById("btnSignUp");

        btnLogin.addEventListener('click', e =>{
          const email = txtEmail.value;
          const pass = txtPassword.value;
          const auth = firebase.auth();
          const promise = auth.signInWithEmailAndPassword(email, pass);
          promise.catch(e => console.log(e.message));
          window.location.href = "../user?"+email+"&"+pass;
        });

        btnSignUp.addEventListener('click', e => {
          const email = txtEmail.value;
          const pass = txtPassword.value;
          const auth = firebase.auth();
          const promise = auth.createUserWithEmailAndPassword(email,pass);
          promise.catch = console.log(e.message);
          window.location.href = "../user?"+email+"&"+pass;
        });
  	}
  </script>

  <div class="wrap">
		<div class="avatar">
      <img src="../logo.png">
		</div>
		<input  id="txtEmail" type="email" placeholder="Email" required>
		<div class="bar">
			<i></i>
		</div>
		<input type="password" id="txtPassword" placeholder="Password" required>
		<a href="" class="forgot_link">forgot ?</a>
		<button id="btnLogin" class="btn btn-action">Log in</button>
		<button id="btnSignUp" class="btn btn-secondary">Sign in</button>
	</div>

  

</body>

</html>